body{
    width: 100%;
    overflow-x: hidden;
    margin:0 auto;
    /* padding: 0px; */
    background: url(../../images/backgroundlast.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
.zhuti{
    background: url(../../images/bookall.png) ;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 1450px;
    height: 800px;
    z-index: 100;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* margin:0 auto; */
    top:0px; 
    right:0px; 
    bottom:0px; 
    left:0px;
    margin:auto;
    display: flex;
    flex-direction: column;
    -moz-transform:scale(0.9);
    zoom:90%; 
    -moz-transform-origin:10% center;
}
.zhengti{
    display:flex;
    flex-direction:row;

    height:100%;
}
.jianjie{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}



.poem{
    float: left;
    width: 55%;
    
    position: absolute;
    margin-left:58%;
    margin-top: 4%;
    text-align: centers;
    display: flex;
    flex-direction: column;
    color:#e49143;
}
.poem p{
    line-height: 200%;
    text-align: center;
    margin-left: -52%;
    font-size:1.2rem;
}
.poem h3{
    margin-left:31%;
    margin-top: -1%;
    font-size:1.4rem;
}
.poem h1{
    margin-left:5%;
}
/* 标签按钮*/
.self-button{
    display: flex;
    flex-direction: row;
    justify-content:normal;
    width: 100%;
    height: 12%;
    /*! margin-top:42% */
}

/*修改148-210*/
.b{
    width: 3%;
    height: 100%;
    /*background-color: palegoldenrod;*/
}
.self-button1{
    margin-top: -44.2%;
    margin-left: 5.2%;
}
.self-button2{
    margin-top: -35.3%;
    margin-left: -3%
}
.self-button3{
    margin-top: -25.3%;
    margin-left: -3%
}
.self-button4{
    margin-top: -15.2%;
    margin-left: -3%
}
.self-button5{
    margin-top: -4.4%;
    margin-left: -3%;
    -webkit-box-shadow: 0 0 6px rgb(255, 255, 255);
    box-shadow: 0 0 6px rgb(255, 255, 255);
}
.self-button6{
    margin-left: 87.1%;
    margin-top: -43%;
    /* -webkit-box-shadow: 0 0 6px rgb(255, 255, 255);
    box-shadow: 0 0 6px rgb(255, 255, 255); */
    height: 100%;
}
.self-button7{
    margin-left: -2.8%;
    margin-top: -29.8%;
}
.self-button8{
    margin-left: -3%;
    margin-top: -18.5%;
}
.self-button9{
    margin-left: -3.3%;
    margin-top: -6.8%;
}

a{
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 100;
}
a:hover{
    /* background-color:gray; */
    opacity: .5;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0 6px rgb(255, 255, 255);
    box-shadow: 0 0 6px rgb(255, 255, 255);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.part1{
    width: 5%;
    height: 6%;

    position: absolute;
    margin-top: -20%;
    margin-left: 4%;
}
.part2{
    width: 5%;
    /*! height: -7%; */

    position: absolute;
    margin-top: -17%;
    margin-left: -2%;
}
.part3{
    width: 22%;
    height: 41%;

    position: absolute;
    margin-top: -11%;
    margin-left: -6%;
}
.part4{
    width: 5%;
    /*! height: 10%; */
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
}
.part5{
    width: 6%;
    height: 17%;
    position: absolute;
    margin-left: 3.5%;
    margin-top: 16%;
}
.part6{
    position: absolute;

    width: 8%;
    height: 7%;
    margin-left: -10%;
    margin-top: 22%;
}
.part7{
    position: absolute;

    width: 8%;
    margin-top: 73%;
    margin-left: 41%;
}
.part8{
    position: absolute;

    width: 9%;
    margin-top: 69%;
    margin-left: 20%;
}
h2{
    margin-left: 10%;
    margin-top: 6%;
}


